# Copia a .env y rellena. NUNCA subas .env a Git.
TZ=Europe/Madrid
PIHOLE_WEB_PASSWORD=change-me
TS_AUTHKEY=tskey-auth-xxxxxxxx
CLOUDFLARE_TUNNEL_TOKEN=xxxxxxxx
SEAFILE_DB_ROOT_PASSWORD=change-me
SEAFILE_ADMIN_EMAIL=admin@example.com
SEAFILE_ADMIN_PASSWORD=change-me
HOMEPAGE_ALLOWED_HOSTS=192.168.10.96:3000,dashboard.lab
LAN_SUBNET=192.168.10.0/24
